:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

a {
    all: unset;
}
a:hover {
    all: unset;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
